
.text_area_fancy_done{
  box-shadow: 0 0 5px rgb(116, 172, 152) !important;
  padding: 3px 0px 3px 3px !important;
  margin: 5px 1px 3px 0px !important;
  border: 2px solid rgb(106, 202, 37) !important;
}

.text_area_fancy_error {
    -webkit-box-shadow:0 0 15px red !important;
    -moz-box-shadow: 0 0 15px red !important;
    box-shadow:0 0 15px red !important;
}

.cssload-loader{
	display: inline;
	position:absolute;
	height:3em;width:3em;
	left:50%;
	margin-top:1.2em;
	margin-left:-1em;
	background-color:rgb(10,36,153);
	border-radius:2.5em 2.5em 2.5em 2.5em;
		-o-border-radius:2.5em 2.5em 2.5em 2.5em;
		-ms-border-radius:2.5em 2.5em 2.5em 2.5em;
		-webkit-border-radius:2.5em 2.5em 2.5em 2.5em;
		-moz-border-radius:2.5em 2.5em 2.5em 2.5em;
	box-shadow:inset 0 0 0 0.5em rgb(154,202,60);
		-o-box-shadow:inset 0 0 0 0.5em rgb(154,202,60);
		-ms-box-shadow:inset 0 0 0 0.5em rgb(154,202,60);
		-webkit-box-shadow:inset 0 0 0 0.5em rgb(154,202,60);
		-moz-box-shadow:inset 0 0 0 0.5em rgb(154,202,60);
	background: linear-gradient(-45deg, rgb(60,188,169), rgb(60,188,169) 50%, rgb(2,172,155) 50%, rgb(2,172,155));
		background: -o-linear-gradient(-45deg, rgb(60,188,169), rgb(60,188,169) 50%, rgb(2,172,155) 50%, rgb(2,172,155));
		background: -ms-linear-gradient(-45deg, rgb(60,188,169), rgb(60,188,169) 50%, rgb(2,172,155) 50%, rgb(2,172,155));
		background: -webkit-linear-gradient(-45deg, rgb(60,188,169), rgb(60,188,169) 50%, rgb(2,172,155) 50%, rgb(2,172,155));
		background: -moz-linear-gradient(-45deg, rgb(60,188,169), rgb(60,188,169) 50%, rgb(2,172,155) 50%, rgb(2,172,155));
	background-blend-mode: multiply;
	border-top:5px solid rgb(145,145,145);
	border-left:5px solid rgb(145,145,145);
	border-bottom:5px solid rgb(145,145,145);
	border-right:5px solid rgb(145,145,145);
	animation:cssload-roto 1.15s infinite linear;
		-o-animation:cssload-roto 1.15s infinite linear;
		-ms-animation:cssload-roto 1.15s infinite linear;
		-webkit-animation:cssload-roto 1.15s infinite linear;
		-moz-animation:cssload-roto 1.15s infinite linear;
}


@keyframes cssload-roto {
	0%{transform:rotateZ(0deg);}
	100%{transform:rotateZ(360deg);}
}

@-o-keyframes cssload-roto {
	0%{-o-transform:rotateZ(0deg);}
	100%{-o-transform:rotateZ(360deg);}
}

@-ms-keyframes cssload-roto {
	0%{-ms-transform:rotateZ(0deg);}
	100%{-ms-transform:rotateZ(360deg);}
}

@-webkit-keyframes cssload-roto {
	0%{-webkit-transform:rotateZ(0deg);}
	100%{-webkit-transform:rotateZ(360deg);}
}

@-moz-keyframes cssload-roto {
	0%{-moz-transform:rotateZ(0deg);}
	100%{-moz-transform:rotateZ(360deg);}
}


body {
font-family: 'Montserrat', Arial, Helvetica, sans-serif ;
}

.btnpete {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0px !important;
  color: #ffffff !important;
  font-size: 15px !important;
  background: #85b134 !important;
  padding: 10px 10px 10px 10px !important;
  text-decoration: none !important;
  width:100%;
  text-transform: uppercase;
 
}

.btnpete:hover {
  background: #85b134 !important;
  text-decoration: none !important;
}


.btnpeteout {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0px !important;
  color: #ffffff !important;
  font-size: 20px !important;
  background: #f1592a !important;
  padding: 10px 20px 10px 20px !important;
  text-decoration: none !important;
}

.btnpeteout:hover {
  background: #f1592a !important;
  text-decoration: none !important;
}

.alert-info {
	background-color: #f1592a;
}

.inline_class{
	display: inline !important;
}

.url_wordpress_laravel{
	background-color: #FFFFFF;
	    border: 1px solid #E3E3E3;
	    border-radius: 4px;
	    color: #565656;
	    padding: 8px 12px;
	    height: 40px;
	    -webkit-box-shadow: none;
	    box-shadow: none;
		width: 300px;
}

.pete {
	padding: 5px 5px 5px 5px !important;
}

/** SPINNER CREATION **/

.loader {
  position: relative;
  text-align: center;
  margin: 15px auto 35px auto;
  z-index: 9999;
  display: block;
  width: 80px;
  height: 80px;
  border: 10px solid rgba(0, 0, 0, .3);
  border-radius: 50%;
  border-top-color: #000;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}


/** MODAL STYLING **/

.modal-content {
  border-radius: 0px;
  box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.7);
}

.modal-backdrop.show {
  opacity: 0.75;
}

.loader-txt {
  p {
    font-size: 13px;
    color: #666;
    small {
      font-size: 11.5px;
      color: #999;
    }
  }
}


/*! CSS Used from: http://dashboard.websitebar.co/assets/css/bootstrap.min.css */
a{background-color:transparent;}
a:active,a:hover{outline:0;}
@media print{
*,:after,:before{color:#000!important;text-shadow:none!important;background:0 0!important;-webkit-box-shadow:none!important;box-shadow:none!important;}
a,a:visited{text-decoration:underline;}
}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
a{color:#337ab7;text-decoration:none;}
a:focus,a:hover{color:#23527c;text-decoration:underline;}
a:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
/*! CSS Used from: http://dashboard.websitebar.co/assets/css/light-bootstrap-dashboard.css */
a{color:#02AC9A;}
a:hover,a:focus{color:#42d0ed;text-decoration:none;}
a:focus,a:active{outline:0;}
/*! CSS Used from: http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css */
a:focus{outline:thin dotted;}
a:active,a:hover{outline:0;}
*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
a{color:#428bca;text-decoration:none;}
a:hover,a:focus{color:#2a6496;text-decoration:underline;}
a:focus{outline:thin dotted #333;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
/*! CSS Used from: http://dashboard.websitebar.co/assets/css/slick-theme.css */
*{box-sizing:border-box;}
/*! CSS Used from: Embedded */
.option_button{background-color:#436bb3;color:#fff;letter-spacing:0.08em;text-transform:uppercase;font-size:0.7em;font-weight:400;display:block;text-align:center;border-radius:4px;padding:10px;border:none;cursor:pointer;margin:2px 2px 2px 2px;-webkit-transition:all 300ms linear;-moz-transition:all 300ms linear;-o-transition:all 300ms linear;-ms-transition:all 300ms linear;transition:all 300ms linear;}
.option_button:hover{color:#fff;background-color:#698F7D;}
a{color:#43735D;}
a:hover{color:#8EAB9E;text-decoration:none;}

/*! CSS Used from: http://dashboard.websitebar.co/assets/css/bootstrap.min.css */
input{margin:0;font:inherit;color:inherit;}
input[type=submit]{-webkit-appearance:button;cursor:pointer;}
input::-moz-focus-inner{padding:0;border:0;}
input{line-height:normal;}
@media print{
*,:after,:before{color:#000!important;text-shadow:none!important;background:0 0!important;-webkit-box-shadow:none!important;box-shadow:none!important;}
}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
input{font-family:inherit;font-size:inherit;line-height:inherit;}
/*! CSS Used from: http://dashboard.websitebar.co/assets/css/light-bootstrap-dashboard.css */
input::-moz-focus-inner,input[type="submit"]::-moz-focus-inner{outline:0;}
input:focus{outline:0!important;}
/*! CSS Used from: http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css */
input{font-family:inherit;font-size:100%;margin:0;}
input{line-height:normal;}
input[type="submit"]{-webkit-appearance:button;cursor:pointer;}
input::-moz-focus-inner{border:0;padding:0;}
*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
input{font-family:inherit;font-size:inherit;line-height:inherit;}
input{background-image:none;}
/*! CSS Used from: http://dashboard.websitebar.co/assets/css/slick-theme.css */
*{box-sizing:border-box;}
/*! CSS Used from: Embedded */
.table_tab{color:#fff;font-size:16px;padding:10px 10px 10px 10px;margin:0px 0px 0px 0px;background-color:#436bb3;border:none;cursor:pointer;font-family:'Nunito',Arial,sans-serif;}
